.u-debug-bg-0 {
  background-color: hsla(0, 100%, 50%, 0.5);
}

.u-debug-bg-1 {
  background-color: hsla(100, 100%, 50%, 0.5);
}

.u-debug-bg-2 {
  background-color: hsla(200, 100%, 50%, 0.5);
}

.u-debug-bg-3 {
  background-color: hsla(300, 100%, 50%, 0.5);
}
