$__c-icon-size: 50px;
$__c-icon-badge-size: 25px;
$__c-icon-badge-offset: 15%;
.c-icon {
  background-color: rgba(#f0f, 0.5);
  align-items: center;
  display: flex;
  height: $__c-icon-size;
  justify-content: center;
  position: relative;
  width:  $__c-icon-size;

  &--rounded {
    border-radius: 50%;
  }
}

.c-icon--rounded {
  border-radius: 50%;
}

.c-icon__badge {
  &:not([class*="--size-"]) {
    --size: #{$__c-icon-badge-size};
  }
  align-items: center;
  background-color: rgba(#ff0, 0.5);
  border-radius: 50%;
  color: #fff;
  display: flex;
  font-size: x-small;    
  height: var(--size, #{$__c-icon-badge-size});
  justify-content: center;
  position: absolute;
  width: var(--size, #{$__c-icon-badge-size});

  &--size-s {
    --size: 20px;
  }
}

// Example:
//   c-icon__badge--position-top-right
//   c-icon__badge--position-top-left
//   c-icon__badge--position-bottom-right
//   c-icon__badge--position-bottom-left
.c-icon__badge[class*="--position"] {
  --position-x: 0;
  --position-y: 0;
  transform: translate(var(--position-x), var(--position-y));

  &[class*="right"] {
    --position-x: #{$__c-icon-badge-offset};
    right: 0;
  }

  &[class*="left"] {
    --position-x: -#{$__c-icon-badge-offset};
    left: 0;
  }

  &[class*="top"] {
    --position-y: -#{$__c-icon-badge-offset};
    top: 0;
  }
  
  &[class*="bottom"] {
    --position-y: #{$__c-icon-badge-offset};
    bottom: 0;
  }
}
