.c-icon-button {
  align-items: center;
  display: flex;
  position: relative;

  //
  &::before {
    background-color: #f00;
    content: "";
    display: block;

    height: 50px;
    width: 50px;
  }
}

.c-icon-button__label {
  &--position-left {
    margin-right: 20px;
  }
  &--position-right {
    margin-left: 20px;
  }
}

.c-icon-button__badge {
  background-color: #0ff;
  position: absolute;

  &--position-top-right {
    top: 0;
    right: 0;
    transform: translate(-50%, -50%);
  }
}

$__c-icon-size: 50px;
$__c-icon-badge-size: 25px;
$__c-icon-badge-offset: 15%;
.c-icon {
  background-color: rgba(#f0f, 0.5);
  border-radius: 50%;
  align-items: center;
  display: flex;
  height: $__c-icon-size;
  justify-content: center;
  position: relative;
  width:  $__c-icon-size;

  &__badge {
    --position-x: 0;
    --position-y: 0;
    &:not([class*="--size-"]) {
      --size: #{$__c-icon-badge-size};
    }
    align-items: center;
    background-color: rgba(#ff0, 0.5);
    border-radius: 50%;
    color: #fff;
    display: flex;
    font-size: x-small;    
    height: var(--size, #{$__c-icon-badge-size});
    justify-content: center;
    position: absolute;
    width: var(--size, #{$__c-icon-badge-size});

    &[class*="--position"] {
      transform: translate(var(--position-x), var(--position-y));

      &[class*="right"] {
        --position-x: #{$__c-icon-badge-offset};
        right: 0;
      }

      &[class*="left"] {
        --position-x: -#{$__c-icon-badge-offset};
        left: 0;
      }

      &[class*="top"] {
        --position-y: -#{$__c-icon-badge-offset};
        top: 0;
      }
      
      &[class*="bottom"] {
        --position-y: #{$__c-icon-badge-offset};
        bottom: 0;
      }
    }

    &--size-s {
      --size: 20px;
    }
  }
}
