// Page component.
$__c-page-topbar-height: $layout-topbar-height;
$__c-page-sidebar-first-top-distance: $__c-page-topbar-height;
$__c-page-sidebar-second-top-distance: $__c-page-topbar-height;
$__c-page-sidebar-first-width-narrow: 0;
$__c-page-sidebar-second-width-narrow: 0;
$__c-page-sidebar-first-width-normal: $layout-sidebar-first-width;
$__c-page-sidebar-second-width-normal: $layout-sidebar-second-width;

.c-page {
  display: grid;
  height: 100%;

  // Narrow
  @media #{$mq-below-normal} {
    grid-template-areas:
      "page-topbar"
      "page-main";
    grid-template-columns: [full-start page-main-start] auto [page-main-end full-end];
    grid-template-rows: [full-start page-topbar-start] $__c-page-topbar-height [page-topbar-end page-main-start] calc(100% - #{$__c-page-topbar-height}) [page-main-end full-end];
  }

  // Normal
  @media #{$mq-above-normal} {
    grid-template-areas:
      "page-topbar page-topbar page-topbar"
      "page-sidebar-first page-main page-sidebar-second";
    grid-template-columns: [full-start page-sidebar-first-start] $__c-page-sidebar-first-width-normal [page-sidebar-first-end page-main-start] auto [page-main-end page-sidebar-second-start] $__c-page-sidebar-second-width-normal [page-sidebar-second-end full-end];
    grid-template-rows: [full-start page-topbar-start] $__c-page-topbar-height [page-topbar-end page-main-start] calc(100% - #{$__c-page-topbar-height}) [page-main-end full-end];
  }
}

//
// Main
//

.c-page__main {
  grid-area: page-main;
  height: 100%;
}

//
// Topbar
//

.c-page__topbar {
  grid-area: page-topbar;
  height: $__c-page-topbar-height;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

//
// Sidebar first
//

.c-page__sidebar-first {
  // Narrow
  @media #{$mq-below-normal} {
    display: none;
  }

  // Normal
  @media #{$mq-above-normal} {
    grid-area: page-sidebar-first;
    left: 0;
    top: $__c-page-sidebar-first-top-distance;
    width: $__c-page-sidebar-first-width-normal;
  }
}

//
// Sidebar second
//

.c-page__sidebar-second {
  // Narrow
  @media #{$mq-below-normal} {
    display: none;
  }

  // Normal
  @media #{$mq-above-normal} {
    grid-area: page-sidebar-second;
    right: 0;
    top: $__c-page-sidebar-second-top-distance;
    width: $__c-page-sidebar-second-width-normal;
  }
}

[class*="c-page__sidebar"][class*="\@normal"] {
  overflow: hidden;
  position: fixed;
}
