*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt", "zero" 1;
          font-feature-settings: "kern", "liga", "clig", "calt", "zero" 1;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  -webkit-font-variant-ligatures: common-ligatures, contextual;
          font-variant-ligatures: common-ligatures, contextual;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

body {
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

iframe {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

h1 {
  font-size: 1.563rem;
}

h2 {
  font-size: 1.375rem;
}

h3 {
  font-size: 1.25rem;
}

svg {
  fill: currentColor;
}

address {
  font-style: normal;
}

fieldset {
  min-width: unset;
}

abbr[title] {
  text-decoration: none;
}

.c-box {
  background-color: #aaa;
}

.c-box + .c-box:not(:first-child) {
  margin-top: 20px;
}

.c-box__title {
  border-bottom: solid 1px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

.c-box__content {
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

.c-cover__media {
  padding-bottom: calc(100% / 3);
}

.c-cover__action-buttons-list {
  height: 0;
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 959px) {
  .c-cover__action-buttons-list {
    text-align: center;
  }
}

@media (min-width: 960px) {
  .c-cover__action-buttons-list {
    text-align: right;
  }
}

.c-cover__action-buttons-list-item {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.c-main {
  display: grid;
  grid-gap: 20px;
  max-width: 1300px;
  width: 100%;
}

@media (max-width: 759px) {
  .c-main {
    grid-template-areas: "main-header" "main-content" "main-sidebar-first" "main-sidebar-second";
    grid-template-columns: [full-start main-header-start main-content-start main-sidebar-first-start main-sidebar-second-start] auto [main-sidebar-first-end main-sidebar-second-end main-content-end main-header-end full-end];
    grid-template-rows: [full-start main-header-start] auto [main-header-end main-content-start] auto [main-content-end main-sidebar-first-start] auto [main-sidebar-first-end main-sidebar-second-start] auto [main-sidebar-second-end full-end];
  }
}

@media (min-width: 760px) and (max-width: 959px) {
  .c-main {
    grid-template-areas: "main-header main-header" "main-content main-content" "main-sidebar-first main-sidebar-second";
    grid-template-columns: [full-start main-header-start main-content-start main-sidebar-first-start] 1fr [main-sidebar-first-end main-sidebar-second-start] 1fr [main-sidebar-second-end main-content-end main-header-end full-end];
    grid-template-rows: [full-start main-header-start] auto [main-header-end main-content-start] auto [main-content-end main-sidebar-first-start main-sidebar-second-start] auto [main-sidebar-first-end main-sidebar-second-end full-end];
  }
}

@media (min-width: 960px) {
  .c-main {
    grid-template-areas: "main-header main-header main-header" "main-sidebar-first main-content main-sidebar-second";
    grid-template-columns: [full-start main-sidebar-first-start main-header-start] 200px [main-sidebar-first-end main-content-start] auto [main-content-end main-sidebar-second-start] 200px [main-sidebar-second-end main-header-end full-end];
    grid-template-rows: [full-start main-header-start] auto [main-header-end main-content-start main-sidebar-first-start main-sidebar-second-start] auto [main-sidebar-first-end main-sidebar-second-end main-content-end full-end];
  }
}

.c-main__wrapper {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px;
}

.c-main__header {
  grid-area: main-header;
}

.c-main__content {
  grid-area: main-content;
}

.c-main__sidebar-first {
  grid-area: main-sidebar-first;
}

.c-main__sidebar-second {
  grid-area: main-sidebar-second;
}

.c-navigation__list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.c-navigation__list-item {
  padding-bottom: 30px;
  padding-top: 30px;
}

@media (max-width: 959px) {
  .c-navigation__list-item--last\@narrow {
    order: 1;
    text-align: center;
    width: 100%;
  }
}

.c-page {
  display: grid;
  height: 100%;
}

@media (max-width: 959px) {
  .c-page {
    grid-template-areas: "page-topbar" "page-main";
    grid-template-columns: [full-start page-main-start] auto [page-main-end full-end];
    grid-template-rows: [full-start page-topbar-start] 50px [page-topbar-end page-main-start] calc(100% - 50px) [page-main-end full-end];
  }
}

@media (min-width: 960px) {
  .c-page {
    grid-template-areas: "page-topbar page-topbar page-topbar" "page-sidebar-first page-main page-sidebar-second";
    grid-template-columns: [full-start page-sidebar-first-start] 50px [page-sidebar-first-end page-main-start] auto [page-main-end page-sidebar-second-start] 50px [page-sidebar-second-end full-end];
    grid-template-rows: [full-start page-topbar-start] 50px [page-topbar-end page-main-start] calc(100% - 50px) [page-main-end full-end];
  }
}

.c-page__main {
  grid-area: page-main;
  height: 100%;
}

.c-page__topbar {
  grid-area: page-topbar;
  height: 50px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

@media (max-width: 959px) {
  .c-page__sidebar-first {
    display: none;
  }
}

@media (min-width: 960px) {
  .c-page__sidebar-first {
    grid-area: page-sidebar-first;
    left: 0;
    top: 50px;
    width: 50px;
  }
}

@media (max-width: 959px) {
  .c-page__sidebar-second {
    display: none;
  }
}

@media (min-width: 960px) {
  .c-page__sidebar-second {
    grid-area: page-sidebar-second;
    right: 0;
    top: 50px;
    width: 50px;
  }
}

[class*="c-page__sidebar"][class*="@normal"] {
  overflow: hidden;
  position: fixed;
}

.u-debug-bg-0 {
  background-color: rgba(255, 0, 0, 0.5);
}

.u-debug-bg-1 {
  background-color: rgba(85, 255, 0, 0.5);
}

.u-debug-bg-2 {
  background-color: rgba(0, 170, 255, 0.5);
}

.u-debug-bg-3 {
  background-color: rgba(255, 0, 255, 0.5);
}

@media (min-width: 960px) {
  .u-debug-user-image\@normal {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -65%);
            transform: translate(-50%, -65%);
  }
}

@media (min-width: 960px) {
  .u-debug-user-location\@normal {
    bottom: 0;
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -25%);
            transform: translate(-50%, -25%);
  }
}

.u-rounded-corners {
  border-radius: 3px;
}

.u-bordered {
  border: solid 1px rgba(0, 0, 0, 0.5);
}

.u-flex {
  display: flex;
}

.u-flex--justify-center {
  justify-content: center;
}

.u-very-high-content {
  height: 2000px;
}

.u-position-relative {
  position: relative;
}

@media (max-width: 959px) {
  .u-position-relative\@narrow {
    position: relative;
  }
}

@media (min-width: 960px) {
  .u-position-relative\@normal {
    position: relative;
  }
}

.u-text-selection-disabled {
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/*# sourceMappingURL=styles.css.map */